<button (click)="start();"
        type="button"
        class="btn btn-primary">Start</button>

<div class="mt-3"
     *ngIf="listInfo">
  <label>
    Fetched pages {{ fetchedPageCount }} / {{ listInfo.totalPages }}
  </label>
  <div class="progress">
    <div class="progress-bar"
         role="progressbar"
         [style]="'width: ' + fetchedPageCount/listInfo.totalPages * 100 + '%'"></div>
  </div>
  <label class="mt-3">
    Fetched stores {{ fetchedStoreCount }} / {{ listInfo.totals }}
  </label>
  <div class="progress">
    <div class="progress-bar"
         role="progressbar"
         [style]="'width: ' + fetchedStoreCount/listInfo.totals * 100 + '%'"></div>
  </div>

  <div *ngIf="fetchedStoreCount === listInfo.totals"
       class="mt-3">
    <button (click)="download();"
            type="button"
            class="btn btn-primary">Download</button>
  </div>
</div>
