<div class="form-check form-switch">
  <input class="form-check-input"
         [formControl]="displayStores"
         type="checkbox"
         id="displayStores"
         checked>
  <label class="form-check-label"
         for="displayStores">Display marker</label>
</div>

<div class="mt-2">
  <google-map height="500px"
              width="100%"
              [center]="center"
              [options]="options"
              [zoom]="zoom">
    <ng-container *ngIf="displayStores.value">
      <map-marker #markerElem
                  *ngFor="let store of stores; let i = index;"
                  [position]="{
                  lat: store.lat,
                  lng: store.lng
                }"
                  (mapClick)="openInfo(i)">
      </map-marker>
    </ng-container>
    <map-info-window>
      <div>
        <strong>{{ infoWindowValues.name }}</strong>
        <div>{{ infoWindowValues.address }}</div>
      </div>
    </map-info-window>
  </google-map>
</div>
