<nav *ngIf="!environment.production"
     class="p-2">
  <a class="p-2"
     [routerLink]="['/']">Home</a>
  <a class="p-2"
     [routerLink]="['/', 'config']">Config</a>
  <a class="p-2"
     [routerLink]="['/', 'fetch-list']">Fetch List</a>
</nav>

<div class="p-3">
  <router-outlet></router-outlet>
</div>

<div class="alert-container">
  <div *ngFor="let alert of (alertService.alerts$ | async)"
       [class]="'alert alert-' + alert.type"
       role="alert">
    <strong>{{ alert.message }}</strong>
  </div>
</div>
